page-home {
    .home {
        scroll-content {
            display: flex;
            flex-direction: column;
        }
        ion-grid {
            margin: 5px;
            height: 100%;
        }
        ion-row {
            margin: 5px;
        }
    }
    .up-part {
        flex: 1;
    }
    .low-part {
        flex: 2;
    }
    ion-scroll {
        overflow: scroll;
        white-space: nowrap;
    }
    .hot-news {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    h2 {
        font-family: sans-serif;
        color: #F44336;
    }
}